<ion-header>
  <ion-toolbar>
    <ion-title>
      Login Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-card-header>
        <ion-card-title>
          Login
        </ion-card-title>
      </ion-card-header>
      <br>
      <ion-item>
        <ion-input placeholder="Username"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input placeholder="Password"></ion-input>
      </ion-item>
    </ion-card-content>
    <ion-item>
      <ion-button
      (click)="getMeLogin()">
        Login
      </ion-button>
    </ion-item>
  </ion-card>
</ion-content>