<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      FirstApp.com
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="assets/shapes.svg" alt="Image">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam labore inventore quis doloribus voluptate praesentium ratione cum sapiente deserunt sequi aliquid dolore eum, voluptatem enim? Nihil aut qui impedit architecto odit facilis hic odio.
    </ion-card-content>
  </ion-card>
</ion-content>